<a href="{{ news.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    <time datetime="{{ news.date }}" class="catalogue-time">{{ news.date | date: "%B %d, %Y" }}</time>
    <h1 class="catalogue-title">{{ news.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if news.excerpt_separator %}
        {{ news.excerpt | strip_html }}
      {% else %}
        {{ news.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
